{% extends '::base.html.twig' %}
{% block body %}
<P style="width:100%; text-align: justify;">The Neo Assyrian palaces of Nimrud/Kalkhu, Khorsabad/Dur-Sharrukin and Niniveh are characterized by one of the richest architectural sculptural decorations of the Old World, depicting military, religious, ritual, civil and administrative scenes from the 9th to the 7th centuries BC. During 19th and 20th century excavations, many of those sculptures were removed from their walls and sent to several museums in different continents, while those deemed as being of lesser value were left in situ. Therefore, today many reliefs have been lost and those which have survived are scattered in museums and collections throughout the world.
The purpose of the NASD database - stemming from a research paper for the master course of near eastern archaeology in 2010-2011 by prof. Nicolò Marchetti at the Alma Mater Studiorum - University of Bologna - is to list all still traceable Neo Assyrian orthostats and to set them within their visual and architectural context. In fact, by placing the appropriate queries to the database, one retrieves, though synthetically, a basic information (findspot, iconography, present location, etc.) and also a visual record for each piece, allowing to recreate visually and documentally the framework within which each slab was set: NASD is essentially this, an integrated visual tool.
All images are subject to the copyright of the source from which they have been taken (which is acknowledged in the file name) and they are only included in the database for academic purposes (scientific and didactic): no other commercial use is allowed by international Laws.
</P>
<p>
Of course, such a complex database cannot yet be as complete as one would wish for and it is presently not even void of mistakes. However, since it is open to everybody's cooperation -besides, hopefully, being useful to all interested students and scholars- it will take advantage of all the comments, corrections and improvements offered. In fact, anybody willing to share information and photos which are missing or represent an improvement or to pint out any other correction which should be made to the database can email me, so that the database may be ameliorated and kept updated.
</p>
<br />
<br />
<br />
<p style="width:100%; text-align: right;">
    <a href="mailto:torraccabarbara@yahoo.it">Barbara Torracca</a>
</p>
{% endblock %}