{% extends '::base.html.twig' %}
{% block body %}
<h1>Tabellagenerale creation</h1>

<form class="jqtransform" action="{{ path('tabellagenerale_addimage') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="various fancybox.ajax" href="{{ path('findfile') }}">select file</a>
    </li>
</ul>


<script type='text/javascript'>
$(document).ready(function() {
    $(".various").fancybox({
        maxWidth	: 800,
        maxHeight	: 600,
        fitToView	: false,
        width		: '70%',
        height		: '70%',
        autoSize	: false,
        closeClick	: false,
        openEffect	: 'none',
        closeEffect	: 'none'
    });
    $("select, input:checkbox, input:radio, input:file, input").uniform();
    //$("form.jqtransform").jqTransform();
});
</script>
{% endblock %}
    